.env
error.log
vendor 
config/bossgpt-367ab-firebase-adminsdk-fbsvc-fdd178828e.json
.DS_Store
composer.lock
config/bossgpt-367ab-firebase-adminsdk-fbsvc-363f3ef6b7.json
config/bossgpt-367ab-firebase-adminsdk-fbsvc-fdd178828e.json