:root {
  --bs-primary-white: #ffffff;
  --bs-primary-black: #2d2d2d;
  --bs-primary-dark: #18191c;
  --bs-primary: #fff; /* New primary color */
  --bs-primary-rgb: 255, 255, 255; /* RGB equivalent of #ff5733 */
}
.dark-primaryborder{
  background: var(--bs-primary-dark);
  border: 1.6px solid rgb(58 59 60)!important;
  font-size: small;
}
.dark-mode .dark-primaryborder{
  background: var(--bs-primary-dark);
  border: 1.6px solid rgb(58 59 60)!important;
}

.register-page,.login-page{
    background: #000;
}
.register-page .card,.login-page .card{
    background: rgba(90, 90, 90, 0.3);
    border: 1.6px solid rgba(151, 151, 151, 0.2);
    padding: 0.8rem;
}
.register-page input,.login-page input{
    background: rgba(90, 90, 90, 0.4);
    border: 1.6px solid rgba(151, 151, 151, 0.2);
    color: rgba(255, 255, 255, 0.7);
}
.register-page .form-label, .register-page .card-title, .login-page .form-label, .login-page .card-title{
    color: rgba(255, 255, 255, 0.7);}
.register-page .btn-primary:hover, .login-page .btn-primary:hover{
    background-color: var(--bs-primary-white) !important;
    filter: brightness(0.7)!important;
    color: var(--bs-primary-black)!important;
}

body.dark-mode .nav-tabs .nav-link.active{
    color: var(--bs-primary-white) !important;
    border-bottom-color: var(--bs-primary-white) !important;
}
body .nav-tabs .nav-link.active{
    color: var(--bs-primary-dark) !important;
    border-bottom-color: var(--bs-primary-dark) !important;
}

input:focus,
input:focus-visible,textarea:focus {
  border-color: var(--bs-primary-white) !important;
  border-width: 0.1rem !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25) !important;
}

body.navbar {
  background-color: var(--bs-primary-white) !important;
}
body.dark-mode .navbar,
.bg-dark {
  background-color: var(--bs-primary-dark) !important;
}
a{
    color: var(--bs-primary-white);
    transition: all 0.5s ease;
}
a:hover{
    color: var(--bs-primary-white);
    filter: brightness(0.7)!important;
}
.btn-primary,
.btn-primary:focus,
.btn-info {
  background-color: var(--bs-primary-white);
  border-color: var(--bs-primary-black);
  color: var(--bs-primary-black);
  transition: all 0.4s ease;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
  font-weight: 500;
}
.btn-primary:hover,
.btn-info:hover {
  color: var(--bs-primary-white);
  background: #18191c;
  border-color: #2f3031 !important;
}


.btn-secondary,
.btn-secondary:focus {
  color: var(--bs-primary-white);
  background: #18191c;
  border-color: #2f3031 !important;
  border-width: 0.1rem !important;
  transition: all 0.4s ease;
}
.btn-secondary:hover {
  background-color: var(--bs-primary-white);
  border-color: var(--bs-primary-black);
  color: var(--bs-primary-black);
}
.modal-header .modal-title {
  color: var(--bs-primary-black) !important;
  background-color: var(--bs-primary-white) !important;
}
.chat-loading-avatar {
  background-color: var(--bs-primary-dark) !important;
}
.dark-mode .chat-loading-avatar {
  background-color: var(--bs-primary-black) !important;
  /* opacity: 0.5 !important; */
 
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: "Geist", sans-serif !important;
}
.z-index-1000 {
  z-index: 1050 !important;
}

/* Add some margin to prevent the dropdown from being cut off */
.dropdown-menu {
  max-height: 300px; /* Add a max height to ensure it's not cut off */
  overflow-y: auto; /* Enable scrolling if the dropdown is too tall */
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --primary-border-radius: 16px;
  --secondary-border-radius: 8px;
}

.primary-border-radius {
  border-radius: var(--primary-border-radius);
}

.secondary-border-radius {
  border-radius: var(--secondary-border-radius);
}
